<<<<<<< Updated upstream
@import "minima";

body {
  font-family: "Lato", sans-serif;
  margin: auto;
  min-height: 100vh;
  background-color: white;
  position: relative;
  padding-bottom: 100px;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.site-nav {
  display: none;
}
.site-title {
  font-size: x-large;
  display: none;
}
.page-heading {
  display: none;
}
.page-content {
  margin: auto;
  width: 60%;
}

.home {
  margin: auto;
  color: #4e4c4f;
}

.site-header {
  background-color: white !important;
}

.grid {
  display: grid;
}

.col {
  position: inline;
  color: #4e4c4f;
}

footer {
  background-color: #454345 !important;
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  margin-top: 50px;
}

.header {
  background-color: #454345 !important;
  width: 100%;
  height: 5vh;
}

.minova-logo {
  margin: 20px 0 20px 0px;
  max-height: 5vh;
}

.minova-logo-container {
  width: 60%;
  margin: auto;
}

.post-title {
  display: none !important;
=======
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0;
}

header {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #4e4c4f;
  color: white;
}

.toolbar {
  display: flex;
  width: 600%;
  height: 100%;
  justify-content: space-between;
}
svg {
  height: 100%;
  width: auto;
}

.bg-image {
  position: relative;
  flex-direction: column;
  display: flex;

  height: 100%;
  background-image: url("../ghp-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}
.logo-container {
  display: flex;
  width: 70vw;
  height: 80px;
  background: rgba(255, 255, 255, 0.95);
}

.logo {
  width: 100%;
  background-image: url("../minova_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 16px;
}
.content-container {
  position: relative;
  bottom: 0;
  height: calc(100% - 100px);
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: centers;
}
.content {
  font-size: x-large;
  margin: auto;
  width: 70vw;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
}

.content > p {
  width: 60%;
}

footer {
  position: fixed;
  height: 50px;
  background-color: #4e4c4f;
  width: 100vw;
  bottom: 0;
  left: 0;
  right: 0;
}

.variable-binding {
  display: block;
  float: right;
}

.page-heading,
.post-list-heading,
.post-list,
.rss-subscribe {
  display: none;
}

.home {
  margin: 16px;
  height: 100%;
>>>>>>> Stashed changes
}
