:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0;
}

header {
  position: relative;
  height: 112px;
  align-items: center;
  color: white;
}

.toolbar {
  background-color: #4e4c4f;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
}
svg {
  height: 100%;
  width: auto;
}

body {
  position: relative;
  flex-direction: column;
  display: flex;
  height: 100vh;
  background-image: url("./images/ghp-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  display: flex;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.95);
}

.logo {
  width: 100%;
  background-image: url("./images/minova_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 24px;
}
.wrapper {
  padding: 16px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  font-size: x-large;
  margin: auto;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  overflow-y: scroll;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.post {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

footer {
  position: fixed;
  height: 50px;
  background-color: #4e4c4f;
  width: 100vw;
  bottom: 0;
  left: 0;
  right: 0;
}

.variable-binding {
  display: block;
  float: right;
}

.post-header,
.page-heading,
.post-list-heading,
.post-list,
.rss-subscribe {
  display: none;
}

.home {
  margin: 16px;
  height: 100%;
}
